body {
    background-color: #3deb94;
}

.content {
    width: 75%;
    height: 600px;
    margin: 100px auto;
}

.signup {
    width: 85%;
    height: 80%;
    background: linear-gradient(to top right, rgb(111, 231, 231)1%, rgb(38, 228, 180)100%);
    box-shadow: 0 1px 8px 0 rgb(22, 22, 22);
    border-radius: 10px;
    margin: 5% auto;
}

input {
    background-color: rgb(17, 231, 231);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 1);
    border-radius: 5px;
    height: 20px;
    border-top: 10px solid rgb(0, 255, 157);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    overflow: hidden;
}

input:hover {
    width: 100%;
    height: 27px;
    border-top: 5px solid rgb(0, 255, 157);
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 1);
}

#fullname {
    float: left;
    width: 43%;
}

#username {
    float: right;
    width: 43%;
}

#fullname, #username {
    margin: 10px 10px 25px 10px;
}

#email {
    width: 65%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

#password {
    width: 43%;
}

#repassword {
    float: right;
    width: 43%;
}

#password, #repassword {
    margin: 10px 10px 25px 10px;
}
#information{
    display: block;
    width: 75%;
    height: 90px;
    margin: 0 auto;
}
#information:hover{
    height: 95px;
}

#submit {
    background-color: rgb(2, 165, 2);
    display: block;
    width: 35%;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin: 30px auto 0 auto;
    border: none;
}

#submit:hover {
    background-color: rgb(42, 184, 42);
    border-radius: 8px;
}

#login {
    display: block;
    width: 50%;
    margin: 5px auto;
    text-align: center;
    color: black;
    text-decoration: underline;
}

@media screen and (max-width:700px) {
    .content {
        width: 95%;
    }
    input {
        font-size: 80%;
    }
    input:hover {
        height: 26px
    }
    #email {
        width: 90%;
    }
}

@media screen and (max-width:465px) {
    .content {
        width: 100%;
    }
    input:hover {
        height: 25px;
    }
    #email {
        width: 90%;
    }
}

@media screen and (max-width:445px) {
    input:hover {
        height: 22px;
    }
    .content {
        width: 90%;
        height: 700px;
    }
    .signup {
        padding-top: 1px;
    }
    #fullname, #username, #password, #repassword, #email {
        border-top: 6px solid rgb(0, 255, 157);
    }
    #fullname, #username, #password, #repassword, #email:hover {
        border-top: 4px solid rgb(0, 255, 157);
    }
    #fullname {
        margin-top: 10px;
    }
    #username, #password, #repassword {
        display: block;
        margin: 20px auto;
        float: none;
        width: 65%;
        text-align: center;
    }
    #fullname {
        display: block;
        width: 65%;
        margin: 20px auto;
        float: none;
        text-align: center;
    }
    #email {
        width: 75%;
        margin: auto;
    }
    #submit {
        height: 23px;
        padding: 1%;
    }
}