<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/StyleAll.css">
    <link rel="stylesheet" href="../Styles/List-Style.css">
    <link rel="shortcut icon" href="../Images/users.png" type="image/x-icon">
    <title>List</title>
</head>

<body>
    <thead>
        <div class="header">
            <div class="top-menu">
                <img class="img-logo" src="../Images/users.png" alt="Login" srcset="">
                <ul dir="rtl">
                    <li> <a href="SignUp.html">SignUp </a></li>
                    <li> <a href="#">Update</a></li>
                    <li> <a href="#">Delete</a></li>
                    <li><a href="Login.html">Login</a></li>
                </ul>
            </div>
        </div>
    </thead>
    <tbody>
        <div class="content">
            <table>
                <tr>
                    <th>نام کامل</th>
                    <th>نام کاربری</th>
                    <th>ایمیل</th>
                    <th>رمز ورود</th>
                    <th>اطلاعات حساب</th>
                </tr>
                <tr>
                    <td>آرمین </td>
                    <td>Armin</td>
                    <td>arminprgrmcsfamily@gmail.com</td>
                    <td>armin</td>
                    <td>instagram</td>
                </tr>
                <tr>
                  <td>آرمین </td>
                    <td>Armin</td>
                    <td>arminprgrmcsfamily@gmail.com</td>
                    <td>armin</td>
                    <td>instagram</td>
                </tr>
            </table>
        </div>
    </tbody>
    <tfoot>
        <div class="footer">
            <div class="down-menu">

            </div>
        </div>
    </tfoot>
</body>

</html>