<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/login-style.css">
    <link rel="stylesheet" href="../Styles/StyleAll.css">
    <link rel="shortcut icon" href="../Images/login.png" type="image/x-icon">
    <title>Login</title>
</head>

<body>
    <div class="header">
        <div class="top-menu">
            <img class="img-logo" src="../Images/login.png" alt="Login" srcset="">
            <ul dir="rtl">

                <li> <a href="SignUp.html">SignUp </a></li>
                <li> <a href="#">Update</a></li>
                <li> <a href="#">Delete</a></li>
                <li><a href="List.html">List</a></li>

            </ul>
        </div>
    </div>
    <div class=" wrapper">
        <div class="login">
            <form action="#">
                <input type="text" name="txtUserName" id="username" required placeholder="UserName"
                    title="please enter your username">
                <input type="email" name="txtEmail" id="email" required placeholder="Email"
                    title="Please enter your email">
                <input type="password" name="txtPassword" id="password" required placeholder="Password"
                    title="please enter your password"><br>
                <input type="submit" value="Login" class="submit">
            </form>
            <a href="#"><span class="forget-pass">forgot your password?</span></a>
        </div>
    </div>
    <div class="footer">
        <div class="down-menu">

        </div>
    </div>
    <!-- <script>alert('Welcome To Login Page')</script> -->
</body>

</html>